-rosewater: #f5e0dc;
-rosewater-rgb: rgb(245, 224, 220);
-rosewater-hsl: hsl(10, 56%, 91%);
-flamingo: #f2cdcd;
-flamingo-rgb: rgb(242, 205, 205);
-flamingo-hsl: hsl(0, 59%, 88%);
-pink: #f5c2e7;
-pink-rgb: rgb(245, 194, 231);
-pink-hsl: hsl(316, 72%, 86%);
-mauve: #cba6f7;
-mauve-rgb: rgb(203, 166, 247);
-mauve-hsl: hsl(267, 84%, 81%);
-red: #f38ba8;
-red-rgb: rgb(243, 139, 168);
-red-hsl: hsl(343, 81%, 75%);
-maroon: #eba0ac;
-maroon-rgb: rgb(235, 160, 172);
-maroon-hsl: hsl(350, 65%, 77%);
-peach: #fab387;
-peach-rgb: rgb(250, 179, 135);
-peach-hsl: hsl(23, 92%, 75%);
-yellow: #f9e2af;
-yellow-rgb: rgb(249, 226, 175);
-yellow-hsl: hsl(41, 86%, 83%);
-green: #a6e3a1;
-green-rgb: rgb(166, 227, 161);
-green-hsl: hsl(115, 54%, 76%);
-teal: #94e2d5;
-teal-rgb: rgb(148, 226, 213);
-teal-hsl: hsl(170, 57%, 73%);
-sky: #89dceb;
-sky-rgb: rgb(137, 220, 235);
-sky-hsl: hsl(189, 71%, 73%);
-sapphire: #74c7ec;
-sapphire-rgb: rgb(116, 199, 236);
-sapphire-hsl: hsl(199, 76%, 69%);
-blue: #89b4fa;
-blue-rgb: rgb(137, 180, 250);
-blue-hsl: hsl(217, 92%, 76%);
-lavender: #b4befe;
-lavender-rgb: rgb(180, 190, 254);
-lavender-hsl: hsl(232, 97%, 85%);
-text: #cdd6f4;
-text-rgb: rgb(205, 214, 244);
-text-hsl: hsl(226, 64%, 88%);
-subtext1: #bac2de;
-subtext1-rgb: rgb(186, 194, 222);
-subtext1-hsl: hsl(227, 35%, 80%);
-subtext0: #a6adc8;
-subtext0-rgb: rgb(166, 173, 200);
-subtext0-hsl: hsl(228, 24%, 72%);
-overlay2: #9399b2;
-overlay2-rgb: rgb(147, 153, 178);
-overlay2-hsl: hsl(228, 17%, 64%);
-overlay1: #7f849c;
-overlay1-rgb: rgb(127, 132, 156);
-overlay1-hsl: hsl(230, 13%, 55%);
-overlay0: #6c7086;
-overlay0-rgb: rgb(108, 112, 134);
-overlay0-hsl: hsl(231, 11%, 47%);
-surface2: #585b70;
-surface2-rgb: rgb(88, 91, 112);
-surface2-hsl: hsl(233, 12%, 39%);
-surface1: #45475a;
-surface1-rgb: rgb(69, 71, 90);
-surface1-hsl: hsl(234, 13%, 31%);
-surface0: #313244;
-surface0-rgb: rgb(49, 50, 68);
-surface0-hsl: hsl(237, 16%, 23%);
-base: #1e1e2e;
-base-rgb: rgb(30, 30, 46);
-base-hsl: hsl(240, 21%, 15%);
-mantle: #181825;
-mantle-rgb: rgb(24, 24, 37);
-mantle-hsl: hsl(240, 21%, 12%);
-crust: #11111b;
-crust-rgb: rgb(17, 17, 27);
-crust-hsl: hsl(240, 23%, 9%);
