@import "/home/wlcd/.config/wofi/colors.css";

*{
  font-family: JetBarins,Roboto, Helvetica, Arial, sans-serif;

  font-size: 15px;
  outline: none;
}

window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @primary;
  border-radius: 1.0em;
  #background-color: #00000000;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  #color:@on_background;
  background-color: @blur_background;
}

#input {
  padding: 10px;
  margin-bottom:10px;
  border: none;
  border-radius: 0.5em;
  #color: @on_primary;
  #background-color: @primary;
  animation: fadeIn 0.5s ease-in-out both;
}
#text {
  margin: 5px;
  border: none;
  animation: fadeIn 0.5s ease-in-out both;
}
#entry:selected {
  border: 0.11em solid @outline;
  border-radius: 0.5em;
  #background-color: @tertiary;
}
#entry:selected #text {
  #color: @on_tertiary;
}
